* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'StratosSkyeng';
    src: url('/fonts/stratosskyeng-regular.otf') format('truetype');
}

/* body {
    font-family: "StratosSkyeng", sans-serif;
} */

.center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
    background: #004980;
}

.top {
    display: flex;
    justify-content: center;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #C2F5FF;
    border-radius: 12px;
    padding-top: 52px;
    padding-bottom: 48px;
    padding-left: 69px;
    padding-right: 69px;
    margin-top: 158px;
    margin-bottom: 158px;
}

.header {
    color: #004980;
    font-family: StratosSkyeng;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    Width: 208px;
}

.card {
    border-radius: 12px;
    border-style: none;
    width: 98px;
    height: 98px;
    background-color: #FFFFFF;
    margin-top: 48px;
    margin-bottom: 68px;

    font-family: StratosSkyeng;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    color: #0080C1;
}
.card:hover {
    background-color: #0080C1;
    color: #FFFFFF;
}

.button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    border-style: none;
    background: #7AC100;

    font-family: StratosSkyeng;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.button:hover {
    background: #FFFFFF;
    color: #7AC100;
}