* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: StratosSkyeng;
    src: url("/fonts/stratosskyeng-regular.otf") format("truetype");
}

.center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
    background: #004980;
    height: 100vh;
}

.top {
    display: flex;
    justify-content: center;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c2f5ff;
    border-radius: 12px;
    padding-left: 69px;
    padding-right: 69px;
    margin-top: 158px;
    margin-bottom: 158px;
    height: 459px;
}

.header {
    color: #004980;
    font-family: StratosSkyeng, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    width: 208px;
}

.card {
    border-radius: 12px;
    border-style: none;
    width: 98px;
    height: 98px;
    background-color: #fff;
    margin-top: 48px;
    margin-bottom: 68px;
    font-family: StratosSkyeng, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    color: #0080c1;
}

.card:hover {
    background-color: #0080c1;
    color: #fff;
}

.button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    border-style: none;
    background: #7ac100;
    font-family: StratosSkyeng, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #fff;
}

.button:hover {
    background: #fff;
    color: #7ac100;
}

.playingField {
    position: relative;
    z-index: 1;
}

.playingFieldHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 35px;
}

.playingFieldCards {
    display: grid;
    grid-template-columns: repeat(9, 95px);
    grid-gap: 15px;
    border-radius: 4px;
    justify-content: center;
}

.time {
    font-family: StratosSkyeng, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
}

.cards {
    display: flex;
    gap: 24px;
}

.back {
    width: 95px;
    height: 133px;
    background: url("/cards/back.jpg") no-repeat;
    border-radius: 4px;
}

.imgBg {
    position: absolute;
    display: flex;
    justify-content: center;
}

.img {
    position: absolute;
    z-index: 2;
    background-image: url("./cards/BG.png");
    width: 100vw;
    height: 100vh;
}

.winLose {
    position: absolute;
    z-index: 4;
    top: 158px;
    width: 480px;
    height: auto;
    border-radius: 12px;
    background: #c2f5ff;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.imgHeader {
    margin-top: 26px;
    margin-bottom: 9px;
}

.headerLow {
    color: #004980;
    font-family: StratosSkyeng, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 28px;
}

.heading {
    font-family: StratosSkyeng, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #000;
}

.timeHeader {
    font-family: StratosSkyeng, sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0;
    text-align: left;
    color: #000;
    margin-top: 10px;
    margin-bottom: 40px;
}
